.router-wrapper {
  overflow: hidden;
}

.forward-from-right-enter {
  transform: translateX(100%);
}

.forward-from-right-enter-active {
  transform: translateX(0);
  transition: all 600ms;
}

.forward-from-right-exit {
  opacity: 1;
}

.forward-from-right-exit-active {
  opacity: 0;
}

.back-to-right-enter {
  transform: translateX(-100%);
}

.back-to-right-enter-active {
  transform: translateX(0);
  transition: all 600ms;
}

.back-to-right-exit {
  opacity: 1;
}

.back-to-right-exit-active {
  opacity: 0;
}